

body {
	background-image:url(images/backpic.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	margin:0 auto;
	
}
/*--------------Head-------------*/
section.head .grayline{
	left:0;
	right:0;
	min-height:0px;
	border:2px solid #CCC;
}
section.head{
	left:0;
	right:0;
	min-height:85px;
}
section.head .header{
	margin:0 auto;
	width:725px;
	min-height:85px;
	/*border-bottom:1px solid #CCC;*/
	outline:1px solid red;
	padding:1px;
}
section.head .header .logo{
	width:100px;
	min-height:55px;
	outline:1px solid red;
	float:left;
	margin-top:15px;
}
section.head .header .menubar{
	width:304px;
	min-height:55px;
	border:1px solid red;
	margin-left:420px;
	margin-top:15px;
}
/*--------------End Head--------------*/



/*--------------Middle--------------*/
section.middle{
	left:0;
	right:0;
	outline:px solid red;
	margin-top:10px;
}
section.middle .contain{
	margin:0 auto;
	width:725px;
	min-height:840px;
	outline:1px solid red;
}
section.middle .contain .title{
	margin:0 auto;
	width:725px ;
	min-height:75px ;
	outline:1px solid red;
}
section.middle .contain .banner{
	margin:0 auto;
	width:725px ;
	min-height:277px ;
	margin-top:25px;
	outline:1px solid red;
}

/* box haye zier slide */
section.middle .contain .boxess{
	margin:0 auto;
	width: 725px;
	min-height:195px; 
	margin-top:22px;
	border-bottom::1px solid #CCC;
	border-top::1px solid #CCC; /* baraye do khatte bala va paeene khakestari rang */
	outline:1px solid red;
}
section.middle .contain .boxess .forth{/* last box*/
	margin-left:540px;
	min-height:195px;
	outline:1px solid red;	
}
#boxone{
	float:left;
	width:180px;
	min-height:195px;
	outline:1px solid red;	
	/*	border-right:1px dashed #CCC;	
	baraye bordere beyne box ha  */
}

/* RECENT WORK */
section.middle .contain .recentwork{
	margin:0 auto;
	width:725px ;
	min-height:220px ;
	margin-top:25px;
	outline:0px solid red;
}
section.middle .contain .recentwork .forth{/* last box*/
	margin-left:540px;
	outline:1px solid red;	
	min-height:inherit;		
}
#boxtwo{
	float:left;
	width:180px;
	outline:1px solid red;
	min-height:inherit;				
	
	}


/*--------------End Middle--------------*/ 





/*--------------Foot--------------*/ 
section.foot {
	left:0;
	right:0;
	min-height:280px;
	outline:1px solid red;
		
}
section.foot .contain {
	margin:0 auto;
	width:725px;
	min-height:280px;
	margin-top:25px;
	outline:1px solid red;	
}

section.foot .contain .bigfooter {/* div 4 box */
	margin:0 auto;
	width:725px;
	min-height:230px;
	outline:1px solid red;			
}
section.foot .contain .bigfooter .forth { /* last box*/
	margin-left:540px;
	min-height:inherit;
	outline:1px solid red;			
}
#boxthree{
	float:left;
	width:180px;
	min-height:inherit;
	outline:1px solid red;			
}

section.foot .contain .footer {/* Copyright */
	margin:0 auto;
	width:724px; /* 1px for pading*/
	min-height:45px;
	outline:1px solid red;
	padding:1px;		
}
section.foot .contain .footer .copyright{
	margin-top:12px;
	margin-left:15px;
	float:left;
	width:200px; 
	min-height:25px; 
	outline:1px solid red;		
}
section.foot .contain .footer .facebook{
	margin-left:480px;
	margin-top:12px;
	width:230px;
	min-height:25px;
	outline:1px solid red;		
}
section.foot .darkline {/*Darkline in bottom*/
	left:0;
	right:0;
	min-height:0px;
	outline:2px solid #333;			
}
/*--------------End Foot--------------*/


/*=================== CONTACT  PAGE ======================*/ 
section.contct .contain{
	min-height:528px;	
	outline:5px solid red;
	width:725px;
	margin:0 auto;
}
section.contct .contain .text{
	min-height:65px;	
	outline:1px solid red;
	width:725px;
	margin:0 auto;	
	/*border-bottom:1px solid #CCC; baraye do khatte bala va paiin 
	border-top:1px solid #CCC;*/
}
section.contct .contain .lcontact{
	float:left;
	min-height:440px;	
	outline:1px solid red;
	width:350px;
	margin-top:20px;		
}
section.contct .contain .rcontact{
	margin-left:370px;
	min-height:440px;	
	outline:1px solid red;
	width:350px;
	margin-top:20px;
	padding:1px;		
}
section.contct .contain .rcontact .text{
	width:350px;	
	outline:1px solid red;
	min-height:25px;	
}
section.contct .contain .rcontact .name, .email, .subject, .messege, .submit{
	width:280px;
	margin-left:25px;	
	margin-top:38px;
	outline:1px solid red;
	min-height:25px;				
}
#txtboxdiv{
	margin-top:24px;
}
#msgdiv{
	margin-top:25px;
	width:315px;	
	min-height:125px;				
}
#subdiv{
	margin-top:15px;
		
}
/*=================== ABOUT US PAGE ======================*/ 

section.about .contain{
	min-height:710px;
	outline:1px solid red;
	width:725px;	
	margin:0 auto;
}
section.about .contain .text{
	min-height:360px;
	outline:1px solid red;
	width:725px;	
	/*	border-bottom:1px solid #CCC; baraye khatte paiini */
}
section.about .contain .text .headtxt{
	min-height:65px;
	outline:1px solid red;
	width:725px;	
/*	border-bottom:1px solid #CCC; baraye khatte paiini */
}
section.about .contain .text .lefttxt, .midtxt, .righttxt{
	float:left;
	min-height:240px;
	outline:1px solid red;
	width:230px;
	margin-top:20px;				
}
section.about .contain .text .midtxt{
	margin-left:20px;
}
section.about .contain .text .righttxt{
	float:none;
	margin-left:495px;		
}
/* --Pics Part -- */
section.about .contain .pics{
	min-height:305px;
	outline:1px solid red;
	width:725px;
	margin-top:20px;	
	
}
section.about .contain .pics .first, .second, .third{
	float:left;
	width:222px;
	min-height:inherit;
	outline:1px solid red;
	margin-left:2px;		
}
section.about .contain .pics .second{
	margin-left:28px;	
}

section.about .contain .pics .third{
	float:none;
	margin-left:503px;	
}
