
body {
	background-image:url(images/backpic.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	margin:0 auto;
	
}
/*  Head & Header  */
section.head .grayline{
	left:0;
	right:0;
	height:0px;
	border:2px solid #CCC;
}
section.head{
	left:0;
	right:0;
	height:85px;
	border:0px solid red;
		
}
section.head .header{
	margin:0 auto;
	width:725px;
	height:85px;
	border-bottom:1px solid #CCC;
	border:1px solid red;
}
section.head .header .logo{
	width:100px;
	height:55px;
	border:1px solid red;
	float:left;
	margin-top:15px;
}
section.head .header .menubar{
	width:295px;
	height:55px;
	border:1px solid red;
	margin-left:420px;
	margin-top:15px;
}
/* End Head */

/* Middle */

section.middle{
	left:0;
	right:0;
	border:1px solid red;
	margin-top:20px;
}
section.middle .contain{
	margin:0 auto;
	width:725px;
	height:850px;
	border:1px solid red;
}
section.middle .contain .title{
	margin:0 auto;
	width:600px ;
	height:70px ;
	border:1px solid red;
}
section.middle .contain .banner{
	margin:0 auto;
	width:725px ;
	height:285px ;
	margin-top:15px;
	border:1px solid red;
}
section.middle .contain .boxess{
	margin:0 auto;
	width: 725px;
	height:195px; 
	margin-top:22px;
	border-bottom::1px solid #CCC;
	border-top::1px solid #CCC; /* baraye do khatte bala va paeene khakestari rang */
	border:1px solid red;
}
section.middle .contain .recentwork{
	margin:0 auto;
	width:725px ;
	height:230px ;
	margin-top:25px;
	border:1px solid red;
}
/* End Middle */ 


/* Foot */ 
section.foot {
	left:0;
	right:0;
	height:300px;
	border:1px solid red;	
}
section.foot .contain {
	margin:0 auto;
	width:725px;
	height:280px;
	margin-top:5px;
	border:1px solid red;	
}

section.foot .contain .bigfooter {
	margin:0 auto;
	width:725px;
	height:230px;
	border:1px solid red;			
}

section.foot .contain .footer {
	margin:0 auto;
	width:725px;
	height:40px;
	border:1px solid red;			
}















