/*section, div {*/
	outline : 1px solid red;
}


.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

body {

}

/*--------------Head-------------*/

.grayline {
	min-height : 0px;
	border-top : 7px solid whiteSmoke;
}

header.normal {

}

section.header {
	margin         : 0 auto;
	width          : 950px;
	padding-bottom : 25px;
	padding-top    : 25px;
	border-bottom  : 2px solid #eee;
}

header.normal section.header .logo {
	width        : 145px;
	min-height   : 45px;
	margin-right : 804px;
	background-image : url('images/logo.png');
}

section.header nav {
	float : right;
}

/***************************  ACTION MENU  **************************/

header.action {
	opacity          : 0;
	top              : 0;
	left             : 0;
	right            : 0;
	padding          : 0 !important;
	margin           : 0 !important;
	position         : fixed;
	background-color : rgba(240,240,240,.9);
	box-shadow       : 0 0 20px #666;
	width            : 100%;
	z-index: 30;
}

header.action section.header {
	padding: 0;
}

header.action .logo {
	width        : 113px;
	min-height   : 35px;
	margin-right : 810px;
	background-image : url('images/logo-min.png');
}

/**********************   NORMAL MENU   ***********************/

nav menu {
	list-style : none;
}

nav menu li {
	float : right;
}

nav menu li a {
	display         : block;
	padding         : 17px 15px 17px 0;	
	text-decoration : none;
	text-transform  : uppercase;
	color           : #666;
	font-size       : 13px;
	font-weight     : 400;
	-webkit-transition : all 200ms;
}

nav menu li a span {
	color         : #aaa;
	padding-right : 15px;
	font-size     : 11px;
	font-weight   : 200;
}

nav menu li a:hover {
	background-color : #444;
	color            : white;
}

nav menu li a:hover span {
	color : #444;
}

nav menu li a.active {
	background-color :  #F96E5B;
}

/*--------------Middle--------------*/

section.contain {

}

section.contain .middle{
	margin     : 0 auto;
	width      : 950px;
}

section.contain .middle .title {
	margin       : 0 auto;
	width        : 950px;
	padding      : 27px 0;
	text-align   : right;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	font-family: Tahoma;
	font-size: 20px;
}

section.contain .middle .banner {
	margin     : 0 auto;
	width      : 950px;
	min-height : 365px;
	margin-bottom: 30px;
}
/************************* SLIDER ******************************/
div.middle .banner {
	position : relative;
	margin     : 0 auto;
	width      : 950px;
	min-height : 365px;
	margin-bottom: 30px;
	z-index: 0;
}

div.middle .banner > div {
	position : absolute;
	height   : 365px;
	width    : 950px;
	top      : 0;
	left     : 0;
	z-index  : -2;
	background-position : center center;
	background-repeat   : no-repeat;
}

/* box haye zier slide */

section.contain .middle .boxess{
	margin       : 0 auto;
	width        : 950px;
	min-height   : 210px;
	border-top   : 1px solid #eee;
	border-bottom: 2px solid #eee;
	margin-bottom: 40px;
	padding-top: 35px;
}

section.contain .middle .boxess .first,
section.contain .middle .boxess .second,
section.contain .middle .boxess .third{
	border-right: 1px dashed #eee
}

/* last box*/

section.contain .middle .boxess .forth {
	margin-left : 715px;
	min-height  : 180px;
}

#boxone {
	float      : left;
	width      : 237px;
	min-height : 180px;
}

/* RECENT WORK */

section.contain .middle .recentwork {
	margin     : 0 auto;
	width      : 950px;
	min-height : 256px;
	margin-bottom : 50px;
}

section.contain .middle .recentwork .forth{/* last box*/
	margin-left : 715px;
	min-height  : inherit;		
}

#boxtwo {
	float        : left;
	width        : 236px;
	min-height   : inherit;
	border-right : 2px solid #FFF;
}

/*--------------Foot--------------*/ 
footer.foot {
	left:0;
	right:0;
	background-color:#444444;
}

footer.foot p{
	color: #999999;
	font-size:14px;
}

footer.foot a{
	color: #cccccc;
	cursor: pointer;
	text-decoration: none;
}

footer.foot a:hover{
	color: #f96e5b;
}

footer.foot h3{
	color: #FFF;

}

footer.foot .contain {
	margin:0 auto;
	width:950px;
	margin-top:20px;
}

footer.foot .contain .bigfooter {/* div 4 box */
	margin:0 auto;
	width:950px;;
	min-height:300px;
}

footer.foot .contain .bigfooter .first,
footer.foot .contain .bigfooter .second,
footer.foot .contain .bigfooter .third{
	float:left;
	width:237px;
	min-height:290px;
	text-align:right;
}

footer.foot .contain .bigfooter .first h3,
footer.foot .contain .bigfooter .second h3,
footer.foot .contain .bigfooter .third h3{
	margin-top:37px;
	margin-right:25px;
}

footer.foot .contain .bigfooter .forth { /* last box*/
	margin-left:713px;
	min-height:288px;
	text-align:right;	
	padding:1px;
}

footer.foot .contain .bigfooter .forth h3 {
	margin-top:37px;
	margin-right:25px;
}

footer.foot .contain .bigfooter .forth input,
footer.foot .contain .bigfooter .forth button {
	margin-top:20px;
	margin-right:25px;
	color:#FFF;		
}

footer.foot .contain .bigfooter p{
	margin-top:23px;
	margin-right:25px;
}

footer.foot .contain .bigfooter ul{
	list-style-type:none;
	margin-left:5px;
}

footer.foot .contain .bigfooter ul li{
	float:left;
	background-color:#333333;
	border-right:3px solid #444444;
	min-height:40px;
	width:40px;
}

footer.foot .contain .bigfooter ul li:hover{
	background-position:0 -40px;	
}

footer.foot .contain .bigfooter ul li a{
	padding:18px 16px;
	display:block;
}

/* Transition Part */
#trans{
	-webkit-transition:all 400ms;	
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
}

footer.foot .contain .bigfooter .fb{
	background-image:url(images/facebook.png);		
}

footer.foot .contain .bigfooter .fb:hover{
	background-color:#3B5998;
}

footer.foot .contain .bigfooter .twitter{
	background-image:url(images/twitter.png);
}

footer.foot .contain .bigfooter .twitter:hover{
	background-color:#48C4D2;
}

footer.foot .contain .bigfooter .flickr{
	background-image:url(images/flickr.png);	
}

footer.foot .contain .bigfooter .flickr:hover{
	background-color:#F1628B;
}

footer.foot .contain .bigfooter .rss{
	background-image:url(images/rss.png);	
}

footer.foot .contain .bigfooter .rss:hover{
	background-color:#FE9900;
}
/* End Transition Icons */

footer.foot .contain .footer {/* Copyright */
	margin:0 auto;
	width:949px; /* 1px for pading*/
	min-height:65px;
	padding:1px;
	background-color:#333333;
	text-align: left;
	direction: ltr;
}
footer.foot .contain .footer .copyright{
	margin-top:20px;
	margin-left:25px;
	float:left;
	width:260px; 
	line-height: 30px;
}
footer.foot .contain .footer .copyright .rights, .designteam .Design{
	font-size: 12px;
}
footer.foot .contain .footer .designteam{
	margin-left:580px;
	margin-top:20px;
	width:370px;
	line-height: 30px;
}

footer.foot .darkline {/*Darkline in bottom*/
	left:0;
	right:0;
	min-height:0px;
	outline:7px solid #333333;			
}
/*=================== CONTACT  PAGE ======================*/ 
.ok {
	outline: 1px solid #9f9;
}

.err {
	outline: 1px solid #f99;
}

div.middle .send-message {
	float : right;
	width : 460px;
}

div.send-message h4 {
	font-size: 17px;
	margin-bottom:15px;
	color: #666;
}

div.send-message form#contact {
	padding : 25px 25px 20px 0;
	width   : 435px;
	background-color: #f8f8f8;
}

div.send-message form#contact input.text {
	width : 370px;
}

div.send-message form#contact input.button {
	width      : 150px;
	height     : 30px;
	color      : #d0d0d0;
	text-align : center;	
	background-color : #444 ;
	border-radius: 20px;
	-webkit-transition: all 300ms;
}

div.send-message form#contact input.button:hover {
	background-color : #F96E5B;
	color: #f0f0f0;
}

div.send-message form#contact input.text,div.send-message form#contact textarea {
	display       : block;
	border        : 1px solid #ddd;
	padding       : 8px 5px;
	font-size     : 12px;
	margin-bottom : 15px;
	font-weight   : bold;
	color         : #aaa;
	-webkit-border-radius : 3px;
}

div.send-message form#contact input:focus::-webkit-input-placeholder{
	color : transparent;
	-webkit-transition : all 400ms;
}
 
div.send-message form#contact textarea:focus::-webkit-input-placeholder{
	color : transparent;
	-webkit-transition : all 300ms;
}

div.contact-info {
	margin-right: 490px;
	color: #707070;
}

div.contact-info h4 {
	font-size: 20px;
	margin-bottom:15px;
	color: #666;
}

div.contact-info div.map {
	height: 300px;
	margin-bottom: 15px;
}

div.contact-info p {
	line-height: 20px;
	margin-bottom: 20px;
}

div.contact-info span {
	font-size: 14px;
	min-height: 60px;
	padding-right: 45px;
	line-height: 25px;
	background-position: center right;
	background-repeat: no-repeat;
	display: block;
	border : 2px dashed #ddd;
}

div.contact-info span.address {
	background-image: url('images/address-icon1.png');
	float: right;
	width: 170px;
}

div.contact-info span.tell {
	background-image: url('images/address-icon2.png');
	margin-right: 230px;
}
/*=================== ABOUT US PAGE ======================*/ 
section.about div{
	outline: 1px solid red;
}
section.about {
	width: 			950px;
	margin: 		0 auto;
}

section.about .text {
	min-height: 	480px;
	width: 			950px;
	border-bottom: 	1px solid #CCC;
}

section.about .text .headtxt{
	min-height: 	90px;
	width: 			950px;	
}

section.about .text .lefttxt, section.about .text .righttxt{
	float     : 	left;
	min-height: 	320px;
	width     : 	300px;
	margin-top: 	20px;				
}
section.about .text .righttxt{
	float: 			none;
	margin-left: 	310px;
	width: 			600px;
}
section.about .text .lefttxt{
	background-image:url(images/tehrani2.jpg);
}
section.about .text .midtxt {
	margin-left: 	20px;
}

section.about .text .righttxt{
	float	   : 	none;
	margin-left: 	650px;		
}

/* --Pics Part -- */

section.about .pics {
	min-height : 	440px;
	width      : 	950px;
	margin-top : 	35px;
}

section.about .pics .first, section.about .pics .second, section.about .pics .third {
	float       : 	left;
	width       :	290px;
	min-height  : 	inherit;
	margin-left : 	0px;		
}

section.about .pics .second {
	margin-left : 	40px;
}

section.about .pics .third {
	float       : 	none;
	margin-left : 	660px;
}
