section, div {
	outline : 1px solid red;
}

.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

body {
	background-image    : url('images/backpic.jpg');
	background-repeat   : no-repeat;
	background-position : top center;
	margin              : 0 auto;
	min-height          : 1900px;
}

/*--------------Head-------------*/

header.head .grayline {
	min-height : 0px;
	border     : 2px solid #CCC;
}

header.head{
	min-height : 85px;
}

header.head .header {
	margin     : 0 auto;
	width      : 950px;
	min-height : 110px;
	padding    : 1px;
}

header.head .header .logo{
	width      : 130px;
	min-height : 65px;
	float      : left;
	margin-top : 25px;
	
}

header.head .header nav {
	width       : 390px;
	min-height  : 65px;
	margin-left : 560px;
	margin-top  : 25px;
}

/*--------------Middle--------------*/
article.middle {
	margin-top : 35px;
}

article.middle .contain{
	margin     : 0 auto;
	width      : 950px;
	min-height : 1100px;
}

article.middle .contain .title {
	margin     : 0 auto;
	width      : 950px;
	min-height : 80px;
}

article.middle .contain .banner {
	margin     : 0 auto;
	width      : 950px;
	min-height : 365px;
	margin-top : 35px;
}

/* box haye zier slide */

article.middle .contain .boxess{
	margin     : 0 auto;
	width      : 950px;
	min-height : 260px; 
	margin-top : 30px;
}

/* last box*/

article.middle .contain .boxess .forth {
	margin-left : 715px;
	min-height  : 230px;
}

#boxone {
	float      : left;
	width      : 237px;
	min-height : 230px;
}

/* RECENT WORK */

article.middle .contain .recentwork {
	margin     : 0 auto;
	width      : 950px;
	min-height : 256px;
	margin-top : 40px;
}

article.middle .contain .recentwork .forth{/* last box*/
	margin-left : 715px;
	min-height  : inherit;		
}

#boxtwo {
	float        : left;
	width        : 236px;
	min-height   : inherit;
	border-right : 2px solid #FFF;
}

/*--------------Foot--------------*/ 
footer.foot {
}

footer.foot .contain {
	margin     : 0 auto;
	width      : 950px;
	margin-top : 20px;
}

footer.foot .contain .bigfooter {/* div 4 box */
	margin     : 0 auto;
	width      : 950px;
	min-height : 300px;
}

footer.foot .contain .bigfooter .forth { /* last box*/
	margin-left : 715px;
	min-height  : inherit;	
}

#boxthree {
	float      : left;
	width      : 237px;
	min-height : inherit;
}

/* Copyright */

footer.foot .contain .footer {
	margin     : 0 auto;
	width      : 949px; /* 1px for pading*/
	min-height : 65px;
	padding    : 1px;
}

footer.foot .contain .footer .copyright{
	margin-top  : 20px;
	margin-left : 25px;
	float       : left;
	width       : 260px; 
	min-height  : 30px; 
}

footer.foot .contain .footer .facebook {
	margin-left : 640px;
	margin-top  : 20px;
	width       : 295px;
	min-height  : 30px;
}

/*Darkline in bottom*/

footer.foot .darkline {
	min-height : 0px;
	border     : 2px solid #333;			
}

/*=================== CONTACT  PAGE ======================*/ 
article.contact .contain {
	min-height : 700px;	
	outline    : 5px solid red;
	width      : 950px;
	margin     : 0 auto;
}

article.contact .contain .text {
	min-height : 70px;	
	width      : 950px;
	margin     : 0 auto;
}

article.contact .contain .lcontact {
	float      : left;
	min-height : 600px;	
	outline    : 1px solid red;
	width      : 460px;
	margin-top : 20px;		
}

article.contact .contain .rcontact {
	margin-left : 490px;
	min-height  : 600px;	
	outline     : 1px solid red;
	width       : 450px;
	margin-top  : 20px;
	padding     : 1px;		
}

article.contact .contain .rcontact .text {
	width      : 450px;
	min-height : 50px;	
}

article.contact .contain .rcontact .name, article.contact .contain .rcontact .email, article.contact .contain .rcontact .subject, article.contact .contain .rcontact .messege, article.contact .contain .rcontact .submit {
	width       : 370px;
	margin-left : 25px;	
	margin-top  : 47px;
	outline     : 1px solid red;
	min-height  : 30px;				
}

#txtboxdiv {
	margin-top : 34px;
}

#msgdiv {
	margin-top : 20px;
	width      : 415px;
	min-height : 160px;				
}

#subdiv {
	margin-top : 24px;	
}

/*=================== ABOUT US PAGE ======================*/ 

article.about .contain {
	width  : 950px;
	margin : 0 auto;
}

article.about .contain .text {
	min-height    : 480px;
	width         : 950px;
	border-bottom : 1px solid #CCC;
}

article.about .contain .text .headtxt{
	min-height : 90px;
	width      : 950px;	
}

article.about .contain .text .lefttxt, article.about .contain .text .midtxt, article.about .contain .text .righttxt{
	float      : left;
	min-height : 320px;
	width      : 300px;
	margin-top : 20px;				
}

article.about .contain .text .midtxt {
	margin-left : 20px;
}

article.about .contain .text .righttxt{
	float       : none;
	margin-left : 650px;		
}

/* --Pics Part -- */

article.about .contain .pics {
	min-height : 440px;
	width      : 950px;
	margin-top : 35px;
}

article.about .contain .pics .first, article.about .contain .pics .second, article.about .contain .pics .third {
	float       : left;
	width       : 290px;
	min-height  : inherit;
	margin-left : 0px;		
}

article.about .contain .pics .second {
	margin-left : 40px;
}

article.about .contain .pics .third {
	float       : none;
	margin-left : 660px;
}
