section, div {
	outline : 0px solid red;
}

.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

body {
	/*background-image    : url('images/backpic.jpg');*/
	background-repeat   : no-repeat;
	background-position : top center;
	margin              : 0 auto;
	min-height          : 1900px;
	position            : relative;
}

/*--------------Head-------------*/

header.head .grayline {
	min-height : 0px;
	border     : 2px solid #CCC;
}

header.head{
}

header.head .header {
	margin        : 0 auto;
	width         : 950px;
	padding-bottom: 25px;
	padding-top   : 25px;
}

header.head .header .logo{
	width      : 140px;
	min-height : 45px;
	margin-right: 810px;	
	background-image: url('images/logo.png');
	display: block;
}

header.head .header nav {
	float : right;
}
/***************************  ACTION MENU  **************************/
nav.action {
	opacity         : 0;
	top             : 0;
	left            : 0;
	right           : 0;
	padding         : 0 !important;
	margin          : 0 !important;
	position        : fixed;
	background-color: #f8f8f8;
	box-shadow      : 0 0 20px #666;
	width: 100%;
}

nav.action menu{
	width: 950px;
	margin: 0 auto;
}

header.head .header nav menu {
	list-style : none;
}

header.head .header nav menu li {
	float : right;
}

header.head .header nav menu li a {
	display         : block;
	padding         : 17px 15px 17px 0;	
	text-decoration : none;
	text-transform  : uppercase;
	color           : #666;
	font-size       : 13px;
	font-weight     : 400;
}

header.head .header nav menu li a span {
	color        : #aaa;
	padding-right: 15px;
	font-size    : 11px;
	font-weight  : 200;
}

header.head .header nav menu li a:hover {
	background-color : #444;
	color            : white;
}
header.head .header nav menu li a:hover span {
	color : #444;
}

header.head .header nav menu li a.active {
	background-color :  #F96E5B;
}

/*--------------Middle--------------*/
article.middle {
	border-top : 2px solid #eee;
}

article.middle{
	margin     : 0 auto;
	width      : 950px;
	min-height : 1100px;
}

article.middle .title {
	margin       : 0 auto;
	width        : 950px;
	min-height   : 80px;
	padding      : 17px 0;
	text-align   : center;
	border-bottom : 1px solid #eee;
	margin-bottom: 30px;
}
/************************* SLIDER ******************************/

article.middle .banner {
	position : relative;
	margin     : 0 auto;
	width      : 950px;
	min-height : 365px;
	margin-bottom: 30px;
}

article.middle .banner > div {
	position : absolute;
	height   : 365px;
	width    : 950px;
	top      : 0;
	left     : 0;
	z-index  : -2;
	background-position : center center;
	background-repeat   : no-repeat;
}

/* box haye zier slide */

article.middle .boxess{
	margin       : 0 auto;
	width        : 950px;
	min-height   : 260px;
	margin-bottom: 40px;
}

/* last box*/

article.middle .boxess .forth {
	margin-left : 715px;
	min-height  : 230px;
}

#boxone {
	float      : left;
	width      : 237px;
	min-height : 230px;
}

/* RECENT WORK */

article.middle .recentwork {
	margin     : 0 auto;
	width      : 950px;
	min-height : 256px;
	margin-bottom : 50px;
}

article.middle .recentwork .forth{/* last box*/
	margin-left : 715px;
	min-height  : inherit;		
}

#boxtwo {
	float        : left;
	width        : 236px;
	min-height   : inherit;
	border-right : 2px solid #FFF;
}

/*--------------Foot--------------*/ 
footer.foot {
}

footer.foot {
	margin     : 0 auto;
	width      : 950px;
	margin-top : 20px;
}

footer.foot .bigfooter {/* div 4 box */
	margin     : 0 auto;
	width      : 950px;
	min-height : 300px;
}

footer.foot .bigfooter .forth { /* last box*/
	margin-left : 715px;
	min-height  : inherit;	
}

#boxthree {
	float      : left;
	width      : 237px;
	min-height : inherit;
}

/* Copyright */

footer.foot .footer {
	margin     : 0 auto;
	width      : 949px; /* 1px for pading*/
	min-height : 65px;
	padding    : 1px;
}

footer.foot .footer .copyright{
	margin-top  : 20px;
	margin-left : 25px;
	float       : left;
	width       : 260px; 
	min-height  : 30px; 
}

footer.foot .footer .facebook {
	margin-left : 640px;
	margin-top  : 20px;
	width       : 295px;
	min-height  : 30px;
}

/*Darkline in bottom*/

footer.foot .darkline {
	min-height : 0px;
	border     : 2px solid #333;			
}

/*=================== CONTACT  PAGE ======================*/ 

article.middle div.send-message {
	float : right;
	width : 460px;
}

div.send-message h4 {
	font-size: 17px;
	margin-bottom:15px;
	color: #666;
}

div.send-message form#contact {
	padding : 25px 25px 20px 0;
	width   : 435px;
	background-color: #f8f8f8;
}

div.send-message form#contact input.text {
	width : 370px;
}

div.send-message form#contact input.button {
	width      : 150px;
	height     : 30px;
	color      : white;
	text-align : center;	
	background-color : #F96E5B;
	border-radius: 20px;
	font-weight: bold;
}

div.send-message form#contact input.button:hover {
	background-color : #444;
}

div.send-message form#contact input.text,div.send-message form#contact textarea {
	display       : block;
	border        : 1px solid #ddd;
	padding       : 8px 5px;
	font-size     : 12px;
	margin-bottom : 15px;
	font-weight   : bold;
	color         : #ddd;
	-webkit-border-radius : 3px;
}

div.send-message form#contact input:focus::-webkit-input-placeholder{
	color : transparent;
	-webkit-transition : all 400ms;
}
 
div.send-message form#contact textarea:focus::-webkit-input-placeholder{
	color : transparent;
	-webkit-transition : all 300ms;
}

div.contact-info {
	margin-right: 490px;
}

div.contact-info h4 {
	font-size: 20px;
	margin-bottom:15px;
	color: #666;
}
/*=================== ABOUT US PAGE ======================*/ 

article.about {
	width  : 950px;
	margin : 0 auto;
}

article.about .text {
	min-height    : 480px;
	width         : 950px;
	border-bottom : 1px solid #CCC;
}

article.about .text .headtxt{
	min-height : 90px;
	width      : 950px;	
}

article.about .text .lefttxt, article.about .text .midtxt, article.about .text .righttxt{
	float      : left;
	min-height : 320px;
	width      : 300px;
	margin-top : 20px;				
}

article.about .text .midtxt {
	margin-left : 20px;
}

article.about .text .righttxt{
	float       : none;
	margin-left : 650px;		
}

/* --Pics Part -- */

article.about .pics {
	min-height : 440px;
	width      : 950px;
	margin-top : 35px;
}

article.about .pics .first, article.about .pics .second, article.about .pics .third {
	float       : left;
	width       : 290px;
	min-height  : inherit;
	margin-left : 0px;		
}

article.about .pics .second {
	margin-left : 40px;
}

article.about .pics .third {
	float       : none;
	margin-left : 660px;
}
